*{
    padding: 0px;
    margin: 0px;
}
body{
      font-family: "Gabarito", sans-serif;;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;

}
.navbar__s1{
    color: #6a14eb
}
.navbar__s2{
    border: solid black 1px;
    border-radius: 30px;
    padding: 10px;
    width: 60%;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 500px;
    font-size: 16px;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    display: none;
    position: absolute;
    border: solid black 1px;
    background-color: white;
    width: 100px;
    top: 35px;
    left: 10%;
}
.mylearning:hover .mylearning__popup{
    display: block;

}
.department{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.department p{
    background-color: #6a14eb;
    padding: 10px;
    border-radius: 20px;
    border: solid #6a14eb 1px;
}
.department p:hover{
    transition: 1s;
    background-color: white;
    color: black;
}
.saleimage{
    position: relative;
}
.saleimage img{
    width: 100%;
}
.saleimage__offer{
    padding: 2%;
    border: solid black 1px;
    width: 34%;
    position: absolute;
    top: 40px;
    left: 100px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
opacity: 0;
transform: scale(0);
    }
    100%{
opacity: 1;
transform: scale(1);
    }
}
.recommended{
    padding: 10px;
    
}
.recommended__courses{
    display: flex;
    justify-content: space-between;  
    gap: 10px;
    flex-wrap: wrap;
    flex: 20%;
     
}
.recommended p{
    padding-bottom: 5px;
}
.topicsrecommended{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px 20px;
}
.topics{
    padding: 10px;
    border: solid black 1px;
    box-sizing: border-box;
    width: 150px;
    min-width: 100px;
    flex: 20%;  
    flex-grow: 0;
    flex-shrink: 0;
}
.popular{
    padding:10px;
}
.popular__courses{
    display: flex;
    justify-content: space-between;
    gap:10px;
    flex-wrap: wrap;
    flex:20%;
}
.footer{
    background-color: black;
    color: white;
    padding: 10px;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}